<div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon>perm_media</mat-icon>
        <h3>JFile Manager</h3>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="profile" [autofocus]="false">
          <mat-icon>account_circle</mat-icon>
          <span>{{userName}}</span>
        </button>
        <mat-menu #profile="matMenu">
          <button mat-menu-item (click)="doLogout()">
            <mat-icon>login</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container-fluid mt-3 mb-3">
        <router-outlet></router-outlet>
    </div>
    <app-loading></app-loading>
</div>