
<div mat-dialog-content>
    <div *ngIf="data.mediaType == 'image/jpeg'" class="container">
        <img [src]="url" alt="">
    </div>

    <div *ngIf="data.mediaType == 'video/mp4'" class="container">
        <video controls (click)="toggleVideo($event)" #videoPlayer>
            <source [src]="url" type="video/mp4"/>
            Browser not supported
        </video>
    </div>
</div>