.mat-dialog-content {
    max-height: unset !important;
}

.container {
    width:fit-content;
    height:fit-content;
}

.container > img {
    height: 350px;
    width: auto;
    object-fit: scale-down;
}

.container > video {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

@media (max-width: 768px) {
    .container > img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
    
    .container > video {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
}