mat-card:first-of-type {
    min-height: 110px;
}

mat-card {
    min-height: calc(100vh - 222px);
    margin-bottom: 10px;
}

.mat-form-field-wrapper {
    margin: 0 !important;
}

.upload-new-button {
    text-align: center;
}

.upload-new-button > button {
    height: 50px;
}

.mat-tab-label.mat-tab-label-active {
    color: #3f51b5;
}

div.container-fluid.d-block,
div.container.justify-content-md-center{
    padding-left: 0;
    padding-right:0;
}

@media (max-width: 768px) {
    .searchbar {
        flex-direction: column;
    }

    .searchbar > div:first-child > mat-form-field {
        padding-right: 0 !important;
    }

    .upload-new-button > button {
        height: fit-content;
    }
}