<div class="container-fluid d-block">
    <div class="container justify-content-md-center">
        <mat-card class="mb-3">
            <mat-card-content>                
                <div class="searchbar d-flex">
                    <div class="flex-grow-1">
                        <form [formGroup]="SearchForm" (keydown)="onKeydown($event)">
                            <mat-form-field appearance="outline" class="w-100 pr-2 pb-2">
                                <mat-label>Search</mat-label>
                                <input matInput formControlName="SearchKey">
                                <mat-icon matSuffix>search</mat-icon>
                                <mat-hint>Search for title or description.</mat-hint>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="upload-new-button">
                        <button mat-raised-button color="primary" class="upload-new-button align-top" (click)="openSelectFileDialog()">
                            <mat-icon>add</mat-icon>
                            Add
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    
        <mat-card>
            <mat-card-content>
                <mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedTab" (selectedIndexChange)="changeTab($event)">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>image</mat-icon>
                        </ng-template>
                        <app-gallery [list]="allImages" (onDelete)="onFileDelete($event)"></app-gallery>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>local_movies</mat-icon>
                        </ng-template>
                        <app-gallery [list]="allVideos" (onDelete)="onFileDelete($event)"></app-gallery>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>