.form-field-label {
    padding-right: 10px;
    min-width: 85px;
    width: 120px;
    line-height: 56px;
}

.disabled-field.container:hover {
    cursor: pointer;
}

input.disabled-field {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: calc(100% - 25px);
}

.mat-form-field-infix {
    width: unset !important;
}