<h1 mat-dialog-title>Add New File</h1>
<div mat-dialog-content>
    <form [formGroup]="FileUploadForm">
        <div class="d-flex">
            <mat-label class="form-field-label">
            File
            </mat-label>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept=".jpg,.mp4">
            <mat-form-field (click)="fileInput.click()" class="disabled-field container">
                <input matInput formControlName="Filename" class="disabled-field">
                <mat-icon matSuffix>folder_open</mat-icon>
                <mat-hint>Only accepts .jpg and .mp4 files.</mat-hint>
            </mat-form-field>
        </div>

        <div class="d-flex">
            <mat-label class="form-field-label">
            Type
            </mat-label>
            <mat-form-field class="container">
                <input matInput formControlName="Type">
            </mat-form-field>
        </div>

        <div class="d-flex">
            <mat-label class="form-field-label">
            Title
            </mat-label>
            <mat-form-field class="container">
                <input matInput formControlName="Title" [maxlength]="20">
            </mat-form-field>
        </div>

        <div class="d-flex">
            <mat-label class="form-field-label">
            Description
            </mat-label>
            <mat-form-field class="container">
                <textarea matInput [rows]="3" [maxlength]="60" formControlName="Description"></textarea>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="justify-content-end">
    <button mat-raised-button color="primary" (click)="doUpload()" [disabled]="!FileUploadForm.valid">Upload</button>
    <button mat-raised-button [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
</div>