div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #3f51b5;
}

mat-form-field {
    width: 100%;
}

mat-card-title {
    text-align: center;
    height: 60px;
    line-height: 60px;
}