<div>
  <mat-card class="col-8 col-md-6 col-lg-2">
    <mat-card-title>
      JFile Manager
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="LoginForm" (keydown)="onKeydown($event)">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="Username">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="Password"/>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center p-2">
        <button mat-raised-button color="primary" (click)="doLogin()">Login</button>
    </mat-card-actions>
  </mat-card>
</div>