.title-row > h4 {
    margin: 0;
    align-self: center;
    font-weight: bold;
}

.description-container > span {
    align-self: center;
    width: calc(100% - 95px);
    word-break: break-word;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.description-container > button {
    height: 35px;
}

.mat-card-image {
    height: 300px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}