<div class="container">
    <div class="row pt-3 pb-3" *ngIf="list.length == 0">
        <div class="col-md-4">
            No files.
        </div>
    </div>

    <div class="row pt-3 pb-3" *ngIf="list.length > 0">
        <div *ngFor="let file of list" class="col-md-3">
            <mat-card>
                <div *ngIf="file.mediaType == 'image/jpeg'">
                    <img mat-card-image [src]="getUrl(file)" alt="" (click)="previewFile(file)">
                </div>
                <div *ngIf="file.mediaType == 'video/mp4'">
                    <video mat-card-image controls #videoPlayer (click)="previewFile(file)">
                        <source [src]="getUrl(file)" type="video/mp4"/>
                        Browser not supported
                    </video>
                </div>
                <mat-card-content>
                    <div class="title-row d-flex justify-content-between">
                        <h4>{{file.title}}</h4>
                        <button mat-icon-button color="accent" (click)="deleteFile(file)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div class="title-row d-flex justify-content-between description-container">
                        <span>{{file.description}}</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>   
</div>
