/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Lato', sans-serif;
}
html, body { height: 100%; }
body { margin: 0;}

.fullscreen {
    width: 100%;
    height: 100%;
}